@use 'src/styles/colors';
@use 'src/styles/mixins';

.container {
  border-radius: 20px;
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.validationError {
  color: red;
  margin: 0;
}

.buttons {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button {
  @include mixins.basic-button;

  &__start {
    background-color: colors.$blue;
    color: white;
  }

  &__results {
    border: 2px solid colors.$blue;
    color: black;

    &:hover {
      color: white;
      border-color: colors.$blue-hover;
    }
  }
}