@use 'src/styles/colors';

.game {
  color: colors.$white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  min-height: 100%;
  flex-grow: 1;

  &__info {
    color: colors.$white-low-accent;
    display: flex;
    justify-content: space-between;
    width: 100%;

  }

  &__infoItem {
    margin: 5px 0;
    text-transform: capitalize;
  }

  &__progress {
    width: 100%;
  }
}

.question {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  &__heading {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }

  &__text {
    width: 90%;
    font-size: 40px;
    margin: 0;
    text-align: center;
    font-weight: bold;
  }
}

.options {
  width: 100%;
  text-align: left;

  &__list {
    width: 100%;
    border: 1px solid colors.$white;
    border-radius: 15px;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    list-style: none;
  }

  &__item {
    width: 100%;
  }

  &__button {
    padding: 15px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.79);
    transition: .3s;
    border: none;
    border-radius: 10px;
    user-select: none;

    &:hover {
      cursor: pointer;
      background-color: colors.$white;
    }
  }
}

.loading {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  &_end {
    margin-left: auto;
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.16);
    text-transform: uppercase;
    font-weight: bold;
    transition: .5s;
    color: colors.$white;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;

    &:hover {
      cursor: pointer;
    }
  }
}

.correct {
  background-color: colors.$correct;
}

.incorrect {
  background-color: colors.$incorrect;
}
