.header {
  width: 100%;

  &__container {
    width: 90%;
    margin: 0 auto;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
  }

  &__logo {
    width: 40px;
  }

  &__homeLink {
    display: block;
  }
}

.nav {
  display: flex;
  gap: 20px;
  list-style: none;

  &__link {
    color: white;
    text-decoration: none;
    text-transform: uppercase;

    &_active {
      text-decoration: underline;
    }
  }
}